
body { 
	background: url("images/fon.jpg"); 
	overflow: scroll;
    padding: 5px; 
}
h1 {
	font-family:Pattaya;
	font-style: italic;
	font-size: 48px;
	text-indent: 10%;
	line-height: 60px;
}
.left {
	float: left;
	height: 400px;
	width: 500px;
}
.right {
	float: right;
	height: 400px;
	width: 500px;
	position: relative;
	right: 230px;

}
.hash-tag {
	font-weight: bold; 
	text-indent: 5%;
	position: relative; 
	bottom: 50px;
	left: 350px;
	text-align: left;
}
.short-description {
	background: rgba(196, 196, 196, 1); 
    color: rgba(0, 0, 0, 1); 
    width: 500px;
    height: 100px;
    text-indent: -170px;
    position: relative; 
    left: 190px;
    bottom: 50px;
    padding: 5px; 
    border-radius: 10px; 
}
a{
	background: rgba(196, 196, 196, 1); 
    color: rgba(0, 0, 0, 1); 
    text-align: left;
    position: relative; 
    left: 190px;
    bottom: 105px;
    padding: 10px; 
    border-radius: 10px; 
}
.vendor {
	background: rgba(196, 196, 196, 1); 
    color: rgba(0, 0, 0, 1); 
    text-align: left;
    position: relative; 
    left: 270px;
    bottom: 61px;
    width: 400px;
    padding: 10px; 
    border-radius: 10px; 
}
.comment {
	background: rgba(196, 196, 196, 1); 
    color: rgba(0, 0, 0, 1); 
    width: 500px;
    height: 25px;
    text-indent: 0px;
    position: relative; 
    left: 185px;
    bottom: 175px;
    padding: 5px; 
    border-radius: 10px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 12px;
    margin: 5px;
}
.round-for-sale {
	background: rgba(196, 196, 196, 1); 
    color: rgba(0, 0, 0, 1); 
    width:75px;
    height: 75px;
    position: relative; 
    left: -15px;
    bottom: 175px;
    padding: 5px; 
    border-radius: 100px; 
    text-align: center;
    line-height: 12px;
    margin: 0px;
    font-size: 20px;
	font-weight: bold;
}
.button-add-comment {
	border-radius:  5px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #5BC9E1));
	position: relative;
	left: 220px;
    bottom: 185px;
    margin: 5px;
}
.img-profil {
	float: right;
	width: 50px;
	height: 50px;
	position: relative;
	right: 60px;
}
.nik {
	font-family:Pattaya;
	font-style: italic;
	font-size: 18px;
	font-weight: lighter;
	line-height: 12px;
	text-align: right;
	position: relative; 
	top: 35px;
	right: 60px;
}
.button-logout{
	border: 0 none;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #5BC9E1));
	border-radius:  5px;
	float: right;
	width: 60px;
	height: 30px;
	position: relative;
	right: -50px;
	top: -10px;
}
.img-product {
	background:rgba(198, 247, 250, 1);
	width: 175px;
	height: 175px;
	float: left;
	border: 3px solid #00a8e1;
}
.product-name {
	font-size: 18px;
	font-weight: bold;
	text-indent: 5%;
	position: relative; bottom: 15px;
}
span {
	font-size: 30px;
	position: relative; 
	left: 30px; 
	bottom: 300px;
}
.span-color {
	color: rgba(255, 247, 44, 1);
}
.button-add {
	border-radius:  5px;
	position: absolute;
	left: 700px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #5BC9E1));
}
.text-for-footer {
	font-family:Pattaya;
	font-style: italic;
	font-size: 24px;
	font-weight: bold;
	line-height: 6px;
	text-align: left;
	text-indent: 5%;
}
.date-up {
	font-family:Pattaya;
	font-style: italic;
	font-size: 24px;
	font-weight: bold;
	line-height: 12px;
	text-align: right;
	margin-right: 2%;
}
footer {
	background-color: rgba(240, 244, 244, 1);
	bottom: 0;
	left: 0;
	float: left;
  	width: 100%;
  	height: 200px;
}
